<!-- views/buku_tanah/detail_buku_tanah.ejs -->
<%- include('../partials/header.ejs') %>


    <section class="container">
        <h1>Detail Buku Tanah</h1>


        <% if (error) { %>
            <div class="alert alert-error">
                <%= error %>
            </div>
            <% } %>
                <% if (success) { %>
                    <div class="alert alert-success">
                        <%= success %>
                    </div>
                    <% } %>


                        <table>
                            <tr>
                                <th>ID</th>
                                <td>
                                    <%= buku.id_buku_tanah %>
                                </td>
                            </tr>
                            <tr>
                                <th>Nomor Hak</th>
                                <td>
                                    <%= buku.nomor_hak || '-' %>
                                </td>
                            </tr>
                            <tr>
                                <th>Jenis Hak</th>
                                <td>
                                    <%= buku.jenis_hak || '-' %>
                                </td>
                            </tr>
                            <tr>
                                <th>Tahun Terbit</th>
                                <td>
                                    <% let _year='-' ; const tv=buku.tahun_terbit; if (tv !==null && typeof tv
                                        !=='undefined' && tv !=='' ) { if (tv instanceof Date) { _year=tv.getFullYear();
                                        } else { const s=String(tv).trim(); if (/^\d{4}$/.test(s)) { _year=s; } else {
                                        const d=new Date(s); _year=isNaN(d.getTime()) ? '-' : d.getFullYear(); } } } %>
                                        <%= _year %>
                                </td>

                            </tr>
                            <tr>
                                <th>Media</th>
                                <td>
                                    <%= buku.media || '-' %>
                                </td>
                            </tr>
                            <tr>
                                <th>Jumlah</th>
                                <td>
                                    <%= buku.jumlah !=null ? buku.jumlah : '-' %>
                                </td>
                            </tr>
                            <tr>
                                <th>Tingkat Perkembangan</th>
                                <td>
                                    <%= buku.tingkat_perkembangan || '-' %>
                                </td>
                            </tr>
                            <tr>
                                <th>Lokasi Penyimpanan</th>
                                <td>
                                    <%= buku.lokasi_penyimpanan || '-' %>
                                </td>
                            </tr>
                            <tr>
                                <th>No Boks Definitif</th>
                                <td>
                                    <%= buku.no_boks_definitif || '-' %>
                                </td>
                            </tr>
                            <tr>
                                <th>Nomor Folder</th>
                                <td>
                                    <%= buku.nomor_folder !=null ? buku.nomor_folder : '-' %>
                                </td>
                            </tr>
                            <tr>
                                <th>Metode Perlindungan</th>
                                <td>
                                    <%= buku.metode_perlindungan || '-' %>
                                </td>
                            </tr>
                        </table>


                        <p>
                            <a href="/buku-tanah/edit/<%= buku.id_buku_tanah %>">Edit</a> |
                            <a href="/buku-tanah">Kembali</a>
                        </p>
    </section>